/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = "${projectDir}/tests/data/test_samplesheet.csv"
}
