/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input     = "${projectDir}/tests/data/test_samplesheet.csv"
    outputDir = "results"
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

includeConfig "https://raw.githubusercontent.com/nf-core/modules/d6d112a1af2ee8c97fc1932df008183341e7d8fe/tests/config/nf-test.config"