switch ( params.trimmer ) {
    case "fastp":
        includeConfig "../subworkflows/nf-core/fastq_fastqc_umitools_fastp/nextflow.config"
        break
    case "trimgalore":
        includeConfig "../subworkflows/nf-core/fastq_fastqc_umitools_trimgalore/nextflow.config"
        break
    default:
        break
}